*.pyc
*.swp
*.tar.gz
*~
.DS_Store
.buildpath
.kitchen.local.yml
.kitchen/
.project
.rake_test_cache
.rbenv-version
data/tmp
exports
images/maps/x-2000px
images/maps/x-working
pydevproject
scripts/bd_tmp
secret_file
tags
test/files/*.vmdk
tmp
videos
working
.DS_Store
